body{
    background-image: url("deep-ocean-background-vector.jpg");
    background-size: cover;
    height: 100vh;
    font-size: 100%;
}
.gallery{

    display: flex;
    flex-wrap: wrap;
    justify-content: center;


    /*display: block;
    justify-items: center;
    align-items: center;*/
    
}
.gallery img{
    padding: 0px;
    width: 100%;
    height: auto;
    transition: 1s;
    filter: grayscale(100%)
    
}
.image01 img:hover{
    filter: grayscale(0);
    transform: scale(1.03);
    cursor: pointer;
}
h1{
    text-align: center;
}
.image01{
    display: inline-block;
    align-items: center;
    /*flex: 1 0 25%;*/
    margin: 5px;
    width: 25%;
}
.mini-description {
    text-align: center;
    width: 100%;
}


.preview-container{
   position: fixed;
   max-width: 700px;
   height: 80%;
   width:80%;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
   /*background-image: url(Images/ocean\ pattern.jpg);*/
   background-color: rgba(38, 72, 245, 0.88);
   padding: 5px 5px 5px 5px;
   border-radius: 5px;
   opacity: 0;
   pointer-events: none;
}
.preview-container.show{
    opacity: 1;
    pointer-events: auto;
    transition: all 0.3s;
}
.preview-container.preview-details{
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.preview-details.title{
    display: flex;
}
span.title{
    font-size: 20px;
}
#current-number,.total-number{
    font-weight: bold;
}
.img-box{
    align-items: center;
    display: flex;
    background-color: aliceblue;
    width:98%;
    margin-top: 5px;
    padding: 5px 5px 0px 5px;
}
.the{
    width: 100%;
    height: 100%;

}
img.cross{
    display: inline;
    float: right;
    height: 20px;
    width: 20px;
    cursor: pointer;
}
.image{
    position: relative;
}
.sliders{
    width: 100%;
}
.previous{
    position: absolute;
    top: 48%;
    left: 2%;
    display: auto;
    transition: 1s;
    cursor: pointer;
    width: 8%;
}
.next{
    left: 91%;
    position: absolute;
    top: 48%;
    display: auto;
    transition: 1s;
    cursor: pointer;
    width: 8%;
}
.next:hover{
    transform: scale(1.09);
}
.previous:hover{
    transform: scale(1.09);
}
p{
    font-size: 20px;
    margin: 5px 0 5px 0;
}
.image_descrptions{
    font-family: "Baskerville Old Face";
    display: flex;
    text-align: justify;
    background-color: blue;

}
.description1{
    display: none;
    color: white;
}
.description2{
    display: none;
    color: white;
}
.description3{
    display: none;
    color: white;
}
.description4{
    display: none;
    color: white;
}
.description5{
    display: none;
    color: white;
}
.description6{
    display: none;
    color: white;
}
.description7{
    display: none;
    color: white;
}
.description8{
    display: none;
    color: white;
}
.description9{
    display: none;
    color: white;
}