.gallery{
    margin:0px 5px 0px 75px;
}
.gallery img{
    padding: 5px;
    width: 430px;
    transition: 1s;
    filter: gayscale(100%)
    
}
.gallery img:hover{
    filter: grayscale(0);
    transform: scale(1.03);
}
h1{
    text-align: center;
}

.preview-container{
   position: fixed;
   max-width: 700px;
   width:100%;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
   /*background-image: url(Images/ocean\ pattern.jpg);*/
   background-color: rgba(94, 117, 248, 0.885);
   padding: 5px 5px 5px 5px;
   border-radius: 5px;
   opacity: 0;
   pointer-events: none;
}
.preview-container.show{
    opacity: 1;
    pointer-events: auto;
    transition: all 0.3s;
}
.preview-container.preview-details{
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.preview-details.title{
    display: flex;
}
span.title{
    font-size: 20px;
}
#current-number,.total-number{
    font-weight: bold;
}
.img-box{
    align-items: center;
    display: flex;
    background-color: aliceblue;
    width:98%;
    margin-top: 5px;
    padding: 5px 5px 0px 5px;
}
.the{
    width: 100%;
    height: 100%;

}
img.cross{
    display: inline;
    float: right;
    height: 20px;
    width: 20px;
    cursor: pointer;
}
.image{
    position: relative;
}
.previous{
    position: absolute;
    top: 50%;
    display: auto;
}
.next{
    left: 90%;
    position: absolute;
    top: 50%;
    display: auto;
}
p{
    font-size: 20px;
    margin: 5px 0 5px 0;
}